/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.json
composer.lock
composer.lock
app/Livewire/AddUser.php
config/app.php
config/sweetalert.php
public/vendor/sweetalert/sweetalert.all.js
resources/views/app.blade.php
resources/views/register.blade.php
resources/views/livewire/create-form.blade.php
app/Livewire/CreateForm.php
resources/views/register.blade.php
_ide_helper.php
composer.json
app/Http/Controllers/AuthController.php
config/app.php
resources/views/app.blade.php
routes/api.php
resources/views/user-management.blade.php
app/Livewire/StaffList.php
config/app.php
resources/views/livewire/create-form.blade.php
